# Virtual environment 
.venv/
venv/

# Environment variables
.env

# Pyhon Cache
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
